/* ==================== Begin style.css =======================*/

* {
  box-sizing: border-box;
}

$applecore: #DCC7AA;
$apricot: #F7882F;
$blueberry: #6B7A8F;
$citrus: #F7C331;

$displayboardHeight: 500px;
$displayboardWidth: 1100px;
$noticeHeight: 25px;
$sideboardHeight: $displayboardHeight;
$sideboardWidth: 250px;
$picboardHeight: $displayboardHeight - $noticeHeight;
$picboardWidth: $displayboardWidth - $sideboardWidth;

/* Universal */

body {
  background-color: $citrus;
  font-size: 28px;
}

.strike {
  text-decoration: line-through;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  display: none;
}

.btn {
  background: lightgrey;
  border-radius: 5px;
  margin: 3px;
}

#title {
  font-size: 28px;
  background-color: $applecore;
  text-align: center;
}

/* Menu page */
#menu-page {
  text-align: center;
}

#menu-page {
  p {
    display: inline-block;
  }

  table {
    width: 650px;
    margin: 0 auto;
    margin-top: 10px;
  }

  table {
    tr td {
      text-align: center;
    }

    tr td:nth-child(1):hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

/* Challenge page */
#display-board {
  display: grid;
  height: $displayboardHeight;
  width: $displayboardWidth;
  grid-template-columns: $sideboardWidth $picboardWidth;
}

#side-board {
  height: $sideboardHeight;
  width: $sideboardWidth;
}

#side-board p {
  text-align: center;
}

#side-board p:nth-child(4) {
  margin: 0;
  margin-bottom: 10px;
}

#topten ol,
#side-board ul {
  list-style: none;
  margin: 0;
}

#pic-board {
  display: grid;
  height: $picboardHeight;
  width: $picboardWidth;
}

#status {
  height: $noticeHeight;
}

#popup-wrapper {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position:fixed;
  overflow:auto;
}

#submit-popup {
  position:absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
}

#topten-popup {
  position:absolute;
  left: 50%;
  top: 2%;
  margin-left: -202px;
}

#topten,
#submit-time {
  max-width: 375px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: $citrus;
}

#submit-time input[type=text] {
  width: 80px;
}

/* ==================== end style.css =========================*/
